@use '@assets/style/mixins' as *;

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;


  @include mobile {
    justify-content: flex-start;
  }
}

.difficulties {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  color: var(--white);
  margin-top: 10px;

  & .btn {
    padding: 5px;
    width: 30px;
    height: 30px;
    font-size: 14px;

    @include adaptive {
      border-radius: calc(var(--apx, 1px) * 6);
      width: calc(var(--apx, 1px) * 30);
      height: calc(var(--apx, 1px) * 30);
      font-size: calc(var(--apx, 1px) * 14);
      padding: calc(var(--apx, 1px) * 5);
    }
  }
}

.phone {
  width: 743px;
  height: 995px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("@/assets/icons/main/phone.svg");

  @include adaptive {
    width: calc(var(--apx, 1px) * 743);
    height: calc(var(--apx, 1px) * 995);
  }

  @include mobile {
    display: none;
  }
}

.content {
  width: 743px;
  height: 995px;
  position: relative;
  @include adaptive {
    width: calc(var(--apx, 1px) * 743);
    height: calc(var(--apx, 1px) * 995);
  }

  @include mobile {
    width: 100%;
    height: 100%;
    padding: 16px 24px;
  }
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;

  @include mobile {
    height: 100%;
    justify-content: flex-start;
  }
}

:deep(.start-modal .modal) {
  background-image: url("@/assets/icons/modal/start.svg");
  background-position: center;
  background-size: 85%;

  @include mobile {
    background-image: none;
  }
}
