.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);

  position: absolute;
  gap: calc(var(--apx, 1px) * 10);
  left: calc(var(--apx, 1px) * 76);
  top: calc(var(--apx, 1px) * 110);
  width: calc(var(--apx, 1px) * 591);
  height: calc(var(--apx, 1px) * 790);
}

.shuffle-cards-move {
  transition: transform 0.7s ease
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

.phone {
  width: calc(var(--apx, 1px) * 743);
  height: calc(var(--apx, 1px) * 995);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("@/assets/icons/main/phone.svg");
}

.content {
  width: calc(var(--apx, 1px) * 743);
  height: calc(var(--apx, 1px) * 995);
  position: relative;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: calc(var(--apx, 1px) * 1920);
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: calc(var(--apx, 1px) * 591);
  left: calc(var(--apx, 1px) * 76);
  top: 25px;

  &__plane {
    width: 254px;
    height: 54px;
    border-radius: 38px;
    background: rgb(255, 255, 255, 0.2);
  }

  &__time,
  &__pairs {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: calc(var(--apx, 1px) * 150);
    font-size: calc(var(--apx, 1px) * 32);
  }

  &__pairs {
    justify-content: flex-end;
  }
}

.turns {
  display: flex;
  font-size: calc(var(--apx, 1px) * 28);
  position: absolute;
  left: calc(var(--apx, 1px) * 76);
  bottom: calc(var(--apx, 1px) * 32);
  width: calc(var(--apx, 1px) * 591);
  justify-content: space-between;

}

:deep(.start-modal .modal) {
  background-image: url("@/assets/icons/modal/start.svg");
  background-position: center;
  background-size: 85%;
}

.info {
  display: grid;
  height: 100%;
  width: 100%;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 47px 24px 68px;

  &__title {
    color: var(--primary);
    font-size: calc(var(--apx, 1px) * 36);
  }

  &__score {
    color: var(--secondary);
    font-size: calc(var(--apx, 1px) * 28);
  }

  &__description {
    color: var(--secondary);
    max-width: 232px;
    font-size: calc(var(--apx, 1px) * 24);

  }

  .repeat {
    margin-top: auto;
    width: 142px;
    height: 43px;
  }
}
