@use '@assets/style/mixins' as *;

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 591px;
  left: 76px;
  top: 25px;

  @include adaptive {
    width: calc(var(--apx, 1px) * 591);
    left: calc(var(--apx, 1px) * 76);
  }

  @include mobile {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
  }

  &__plane {
    width: 254px;
    height: 54px;
    border-radius: 38px;
    background: rgb(255, 255, 255, 0.2);

    @include adaptive {
      width: calc(var(--apx, 1px) * 254);
      height: calc(var(--apx, 1px) * 54);
    }
    @include mobile {
      display: none;
    }
  }

  &__time,
  &__pairs {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 150px;
    font-size: 32px;
    @include adaptive {
      min-width: calc(var(--apx, 1px) * 150);
      font-size: calc(var(--apx, 1px) * 32);
    }
    @include mobile {
      font-size: 21px;
    }
  }

  &__pairs {
    justify-content: flex-end;

    .icon {
      cursor: pointer;
      transition: 0.2s ease;

      &:hover, &:focus-visible {
        color: var(--tertiary);
      }
    }
  }
}
